<!-- lib/events_url_shortener_web/live/metrics_live.html.leex -->
<div>
  <h1>Browser Usage</h1>
  <%= @browser_chart_svg %>
</div>

<div>
  <h1>Location Usage</h1>
  <%= @location_chart_svg %>
</div>

<div>
  <h1>OS Usage</h1>
  <%= @os_chart_svg %>
</div>
